@charset "UTF-8";
/* clases */
@import url("fontawesome-all.min.css");
.beneficios {
  background: #001494;
  background: -moz-linear-gradient(left, #001494 0%, rgba(28, 4, 205, 0.88) 31%, rgba(20, 95, 245, 0.79) 53%, rgba(120, 126, 247, 0.68) 80%, rgba(122, 202, 255, 0.6) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #001494), color-stop(31%, rgba(28, 4, 205, 0.88)), color-stop(53%, rgba(20, 95, 245, 0.79)), color-stop(80%, rgba(120, 126, 247, 0.68)), color-stop(100%, rgba(122, 202, 255, 0.6)));
  background: -webkit-linear-gradient(left, #001494 0%, rgba(28, 4, 205, 0.88) 31%, rgba(20, 95, 245, 0.79) 53%, rgba(120, 126, 247, 0.68) 80%, rgba(122, 202, 255, 0.6) 100%);
  background: -o-linear-gradient(left, #001494 0%, rgba(28, 4, 205, 0.88) 31%, rgba(20, 95, 245, 0.79) 53%, rgba(120, 126, 247, 0.68) 80%, rgba(122, 202, 255, 0.6) 100%);
  background: -ms-linear-gradient(left, #001494 0%, rgba(28, 4, 205, 0.88) 31%, rgba(20, 95, 245, 0.79) 53%, rgba(120, 126, 247, 0.68) 80%, rgba(122, 202, 255, 0.6) 100%);
  background: -webkit-gradient(linear, left top, right top, from(#001494), color-stop(31%, rgba(28, 4, 205, 0.88)), color-stop(53%, rgba(20, 95, 245, 0.79)), color-stop(80%, rgba(120, 126, 247, 0.68)), to(rgba(122, 202, 255, 0.6)));
  background: linear-gradient(to right, #001494 0%, rgba(28, 4, 205, 0.88) 31%, rgba(20, 95, 245, 0.79) 53%, rgba(120, 126, 247, 0.68) 80%, rgba(122, 202, 255, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001494', endColorstr='#7acaff', GradientType=1 );
  border-radius: 52% 48% 54% 46% / 54% 54% 46% 46%;
  border: inset #0261a0 5px; }
  .beneficios:before {
    content: "";
    width: 200px;
    height: 200px;
    border: outset 20px #0261a0;
    border-radius: 100%;
    position: relative;
    right: 500px; }
  .beneficios:after {
    content: "";
    width: 200px;
    height: 200px;
    border: outset 20px #0261a0;
    border-radius: 100%;
    position: relative;
    left: 500px; }

.beneficio {
  color: white; }

/* .beneficios_container::before{
    content: "";
    width: 100%;
    border-top:outset 8px rgb(209, 255, 3);
}
.beneficios_container::after{
    content: "";
    width: 100%;
    border-top:outset 8px rgb(209, 255, 3);
} */
.beneficios_container {
  width: 80%; }

.beneficios_item {
  width: 20%;
  border: solid 8px red;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%; }
  .beneficios_item img {
    width: 90%; }

.beneficios_item:hover {
  width: 20.5%;
  border-radius: 20%;
  border: 10px outset #d1ff03;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.bg_1 {
  background: #00fa96;
  background: -moz-linear-gradient(-45deg, #00fa96 0%, #05ed4e 41%, #22ff00 77%, #7bff00 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #00fa96), color-stop(41%, #05ed4e), color-stop(77%, #22ff00), color-stop(100%, #7bff00));
  background: -webkit-linear-gradient(-45deg, #00fa96 0%, #05ed4e 41%, #22ff00 77%, #7bff00 100%);
  background: -o-linear-gradient(-45deg, #00fa96 0%, #05ed4e 41%, #22ff00 77%, #7bff00 100%);
  background: -ms-linear-gradient(-45deg, #00fa96 0%, #05ed4e 41%, #22ff00 77%, #7bff00 100%);
  background: -webkit-linear-gradient(315deg, #00fa96 0%, #05ed4e 41%, #22ff00 77%, #7bff00 100%);
  background: -o-linear-gradient(315deg, #00fa96 0%, #05ed4e 41%, #22ff00 77%, #7bff00 100%);
  background: linear-gradient(135deg, #00fa96 0%, #05ed4e 41%, #22ff00 77%, #7bff00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fa96', endColorstr='#7bff00', GradientType=1 );
  border: 10px inset #09ff00; }

.bg_2 {
  background: #9ee5ff;
  background: -moz-linear-gradient(-45deg, #9ee5ff 0%, #63d5ff 9%, #2bbfff 19%, #3b73ff 46%, #0048ff 69%, #740aff 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #9ee5ff), color-stop(9%, #63d5ff), color-stop(19%, #2bbfff), color-stop(46%, #3b73ff), color-stop(69%, #0048ff), color-stop(100%, #740aff));
  background: -webkit-linear-gradient(-45deg, #9ee5ff 0%, #63d5ff 9%, #2bbfff 19%, #3b73ff 46%, #0048ff 69%, #740aff 100%);
  background: -o-linear-gradient(-45deg, #9ee5ff 0%, #63d5ff 9%, #2bbfff 19%, #3b73ff 46%, #0048ff 69%, #740aff 100%);
  background: -ms-linear-gradient(-45deg, #9ee5ff 0%, #63d5ff 9%, #2bbfff 19%, #3b73ff 46%, #0048ff 69%, #740aff 100%);
  background: -webkit-linear-gradient(315deg, #9ee5ff 0%, #63d5ff 9%, #2bbfff 19%, #3b73ff 46%, #0048ff 69%, #740aff 100%);
  background: -o-linear-gradient(315deg, #9ee5ff 0%, #63d5ff 9%, #2bbfff 19%, #3b73ff 46%, #0048ff 69%, #740aff 100%);
  background: linear-gradient(135deg, #9ee5ff 0%, #63d5ff 9%, #2bbfff 19%, #3b73ff 46%, #0048ff 69%, #740aff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ee5ff', endColorstr='#740aff', GradientType=1 );
  border: 10px inset #6a00e4; }

.bg_3 {
  background: #ff5ed4;
  background: -moz-linear-gradient(-45deg, #ff5ed4 0%, #ff0335 58%, #ff0335 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ff5ed4), color-stop(58%, #ff0335), color-stop(100%, #ff0335));
  background: -webkit-linear-gradient(-45deg, #ff5ed4 0%, #ff0335 58%, #ff0335 100%);
  background: -o-linear-gradient(-45deg, #ff5ed4 0%, #ff0335 58%, #ff0335 100%);
  background: -ms-linear-gradient(-45deg, #ff5ed4 0%, #ff0335 58%, #ff0335 100%);
  background: -webkit-linear-gradient(315deg, #ff5ed4 0%, #ff0335 58%, #ff0335 100%);
  background: -o-linear-gradient(315deg, #ff5ed4 0%, #ff0335 58%, #ff0335 100%);
  background: linear-gradient(135deg, #ff5ed4 0%, #ff0335 58%, #ff0335 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5ed4', endColorstr='#ff0335', GradientType=1 );
  border: 10px inset #bd0029; }

.header {
  background: #0e023b;
  width: 100%;
  position: fixed;
  z-index: 1000;
  max-height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px); }

.header div {
  font-size: 80%;
  font-weight: 600;
  color: aliceblue; }

#myBtn:hover {
  color: #ef8376;
  border-bottom-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out; }

/* .header::after{
    content: "+56 9 7712 4057";
    width: 14%;
    background: rgb(206, 14, 62);
    color: aliceblue;
    position: absolute;
    transform: translate(-10px, 40px);
    border: solid 3px #333333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* Estilos de menú */
.rosa_menu {
  background: #ec008c;
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
  background: -webkit-gradient(linear, left top, right top, from(#fc6767), to(#ec008c));
  background: -webkit-linear-gradient(left, #fc6767, #ec008c);
  background: -o-linear-gradient(left, #fc6767, #ec008c);
  background: linear-gradient(to right, #fc6767, #ec008c); }

.verde_menua {
  background: #FDFC47;
  background: -webkit-linear-gradient(to right, #24FE41, #1eb600);
  background: -webkit-gradient(linear, left top, right top, from(#24FE41), to(#1eb600));
  background: -webkit-linear-gradient(left, #24FE41, #1eb600);
  background: -o-linear-gradient(left, #24FE41, #1eb600);
  background: linear-gradient(to right, #24FE41, #1eb600); }

.azul_menu {
  background: #0575E6;
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);
  background: -webkit-gradient(linear, left top, right top, from(#021B79), to(#0575E6));
  background: -webkit-linear-gradient(left, #021B79, #0575E6);
  background: -o-linear-gradient(left, #021B79, #0575E6);
  background: linear-gradient(to right, #021B79, #0575E6); }

.menu {
  width: 100%;
  position: fixed;
  z-index: 999;
  border-radius: 52% 48% 50% 50% / 0% 0% 100% 100%;
  height: 120px;
  margin-top: 10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.contenedor-menu {
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.logo {
  width: 20%;
  -webkit-transform: translateX(-10px) translateY(-30px);
  -ms-transform: translateX(-10px) translateY(-30px);
  transform: translateX(-10px) translateY(-30px); }

.opciones {
  width: 80%; }

/* Logotipo */
.menu .contenedor-menu .logo {
  width: 10%;
  height: 50px;
  /* border: solid 1px red;  */ }

.menu .contenedor-menu .logo img {
  width: 100%; }

/* seleccionando items del menu- estilos básicos */
.menu .contenedor-menu .opciones .item-menu {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  /* border: solid 1px red;  */ }

.inicio_pos {
  position: relative;
  top: 35px; }

.disp_none {
  display: none; }

.disp_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal {
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(34, 9, 63, 0.6); }

/* Modal Content */
.modal-content {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  /* border: 5px solid rgb(81, 255, 0); */
  /* border-radius:1% 95% 1% 95% / 95% 5% 95% 5%; */
  /* border-radius:1% 95% 1% 95% ; */
  border-radius: 5% 5% 5% 5%;
  width: 90%;
  min-height: 500px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/* The Close Button */
.close {
  position: relative;
  z-index: 2000;
  color: #0e023b;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: #c91d1d;
    text-decoration: none;
    cursor: pointer; }

.modal-header {
  /* padding: 2px 16px; */
  width: 90%;
  /* background-color: $color_mod_text; */
  color: #0e023b; }

.modal-body {
  /* padding: 2px 16px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.modal-body .modal_rigth {
  margin: 0;
  padding: 0;
  width: 40%;
  min-height: 500px;
  background: #ff00cc;
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);
  background: -webkit-gradient(linear, left top, right top, from(#333399), to(#ff00cc));
  background: -webkit-linear-gradient(left, #333399, #ff00cc);
  background: -o-linear-gradient(left, #333399, #ff00cc);
  background: linear-gradient(to right, #333399, #ff00cc);
  /* border-radius:39% 61% 100% 0% / 45% 53% 47% 55%  */
  border-radius: 5% 0 0 5%;
  -webkit-box-shadow: 10px 0 8px 0 rgba(160, 17, 226, 0.4), 10px 20px 50px 0 rgba(178, 13, 255, 0.9);
  box-shadow: 10px 0 8px 0 rgba(160, 17, 226, 0.4), 10px 20px 50px 0 rgba(178, 13, 255, 0.9); }

.modal-body .modal_left {
  margin: 0;
  padding: 0;
  width: 60%;
  min-height: 500px; }

.formulario {
  width: 80%; }
  .formulario .input_sets {
    width: 90%; }
    .formulario .input_sets input[type="submit"] {
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      border: solid 2px white;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      background: transparent;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .formulario .input_sets input[type="submit"]:hover {
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        border: inset 3px #bcff03;
        color: #bcff03;
        -webkit-box-shadow: 4px 4px 4px 2px rgba(188, 255, 3, 0.2);
        box-shadow: 4px 4px 4px 2px rgba(188, 255, 3, 0.2);
        border-radius: 20px;
        font-weight: 900; }

.modal-footer {
  color: #0e023b; }

.input_group {
  margin-bottom: 10px; }
  .input_group input[type="text"], .input_group [type="email"] {
    font-size: 14px;
    outline: none;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: #ffffff 1px solid;
    width: 100%; }
    .input_group input[type="text"]:active, .input_group input[type="text"]:focus, .input_group [type="email"]:active, .input_group [type="email"]:focus {
      outline: none;
      background: transparent;
      border-bottom: #31023b 2px solid; }

.img_bg {
  background: #ff0037;
  background: -webkit-linear-gradient(to right, #a30124, #ff0037);
  background: -webkit-gradient(linear, left top, right top, from(#a30124), to(#ff0037));
  background: -webkit-linear-gradient(left, #a30124, #ff0037);
  background: -o-linear-gradient(left, #a30124, #ff0037);
  background: linear-gradient(to right, #a30124, #ff0037); }

/* Image */
.image {
  position: relative;
  display: inline-block;
  border: 0;
  outline: 0;
  border-radius: 10% 10% 0 0; }

.image img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: inset 8px #ff0037; }

.image.fit {
  display: block;
  width: 100%; }

.image.fit img {
  border: inset 10px #00ffaa; }

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 4em 0; }

.image.left {
  float: left;
  margin: 0 2em 2em 0; }

.image.centered {
  display: block;
  margin: 0 0 2em 0; }

.image.centered img {
  margin: 0 auto;
  width: auto; }

.img_bg_gal {
  background: #14b2ce;
  border: solid 2px white; }

.img_bg_gal img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: inset 15px #021c79; }

/*------------------ Estilos para Galería -------------------*/
.galeria_container {
  width: 100%; }

.categorias {
  width: 22%;
  z-index: 100;
  background: #021B79; }

.categorias .item_cat {
  width: 90%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px; }

.list-group h3 {
  font-weight: bold;
  color: white;
  font-size: 120%; }

/* productos--------------- */
.products_list {
  width: 90%;
  /* border:solid #36A0FF; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.products_list .product_item {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

.active_cat {
  color: white !important;
  font-weight: 900;
  background: #0059ff; }
  .active_cat:hover {
    color: white !important;
    font-weight: 900;
    background: rgba(0, 89, 255, 0.6); }

.capa_imagen_ajustada {
  -moz-background-size: 100% 100%;
  /*Firefox 3.6*/
  -o-background-size: 100% 100%;
  /*opera*/
  -webkit-background-size: 100% 100%;
  /*Safari*/
  background-size: 100% 100%;
  /*estandar css3*/ }

@media screen and (max-width: 350px) {
  /* Galería */
  .categorias {
    width: 52% !important; } }

@media screen and (max-width: 575px) {
  /* Galería */
  .categorias {
    width: 44%; } }

@media screen and (min-width: 576px) {
  /* Galería */
  .categorias {
    width: 36%; } }

@media screen and (min-width: 702px) {
  /* Galería */
  .categorias {
    width: 34%; } }

@media screen and (min-width: 768px) {
  /* Galería */
  .categorias {
    width: 30%; } }

@media screen and (min-width: 992px) {
  /* Galería */
  .categorias {
    width: 22%; } }

@media screen and (min-width: 1200px) {
  /* Galería */
  .categorias {
    width: 22%; } }

.trans_trans {
  margin-top: 180px; }

.btn_pri {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  color: white;
  background: #0059ff;
  border-radius: 20px;
  font-weight: 200; }
  .btn_pri:hover {
    background: rgba(0, 89, 255, 0.6); }
  .btn_pri:hover {
    color: white;
    font-weight: 600; }

.btn_sec {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  color: white;
  background: #c300ff;
  border-radius: 100%; }
  .btn_sec:hover {
    background: rgba(195, 0, 255, 0.6); }

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */ }

.bloque {
  height: 50px;
  width: 100%; }

/* --------------------------- */
body {
  background: #f0f4f4;
  color: #5b5b5b;
  font-size: 15pt;
  line-height: 1.85em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }

/* General flex classes */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* Justify content */
.justify-l {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.justify-r {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* Aling items */
.align-fs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* Flex Direction */
.f_flow_col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }

/* General margin classes */
.m-r {
  margin-right: 1em; }

.m-r-2 {
  margin-right: 2em; }

.m-r-4 {
  margin-right: 4em; }

/* ----------------------- */
.m-l {
  margin-left: 1em; }

.m-l-2 {
  margin-left: 2em; }

.m-l-4 {
  margin-left: 4em; }

/* ----------------------- */
.m-t {
  margin-top: 1em; }

.m-t-2 {
  margin-top: 2em; }

.m-t-4 {
  margin-top: 4em; }

.m-t-250 {
  margin-top: 250px; }

/* ----------------------- */
.m-b {
  margin-bottom: 1em; }

.m-b-2 {
  margin-bottom: 2em; }

.m-b-4 {
  margin-bottom: 4em; }

.m-t-250 {
  margin-top: 250; }

/* Texty */
.text_titles {
  color: #090127;
  font-size: 175%;
  font-weight: 500; }
  .text_titles h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 130%;
    letter-spacing: 2pt; }

/* Other styles */
