// Elaborado por Klyswer Oliva, estructura de estilos

// Segmento de modulos estilos scss
@import 'segmentos/beneficios';
@import 'segmentos/footer';
@import 'segmentos/header';
@import 'segmentos/menu';
@import 'segmentos/mixings';
@import 'segmentos/modal';
@import 'segmentos/ofertas';
@import 'segmentos/productos';
@import 'segmentos/slider';


// variables
$color1:rgba(0, 89, 255, 1);
$color1_o:rgba(0, 89, 255, 0.6);
$color2: #c300ff;
$color2_o: rgba(195, 0, 255, 0.6);
$color3: #b3ff00;
$color4: #ff006a;
$white: white;

// mixings


// Temas


// Elenmentos generales

.btn_pri{
@include btn($color1,$color1_o);
border-radius: 20px;
font-weight: 200;
    &:hover{
        color: white;
        font-weight: 600;
        }
    }


.btn_sec{
    @include btn($color2,$color2_o);
    border-radius: 100%;
}

// main_spa.css
@import url("fontawesome-all.min.css");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

}

.bloque{
height: 50px;
width: 100%;

}
/* --------------------------- */

body {
    background: #f0f4f4;
    color: #5b5b5b;
    font-size: 15pt;
    line-height: 1.85em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

/* General flex classes */

.d-flex{
    display: flex;
}
    /* Justify content */
    .justify-l{
    justify-content: flex-start;
    }

    .justify-r{
    justify-content: flex-end;
    }
    .justify-c{
    justify-content: center;
    }
    .justify-sb{
        justify-content: space-between;
    }

    /* Aling items */
    .align-fs{
        align-items: flex-start;
    }
    .align-c{
        align-items: center;
    }
    /* Flex Direction */

    .f_flow_col{
        flex-flow: column wrap;
    }

/* General margin classes */

.m-r{
    margin-right: 1em;
}
    .m-r-2{
        margin-right: 2em;
    }
    .m-r-4{
        margin-right: 4em;
    }
/* ----------------------- */
.m-l{
    margin-left: 1em;
}
    .m-l-2{
        margin-left: 2em;
    }
    .m-l-4{
        margin-left: 4em;
    }
/* ----------------------- */
.m-t{
    margin-top: 1em;
}
    .m-t-2{
        margin-top: 2em;
    }
    .m-t-4{
        margin-top: 4em;
    }
    .m-t-250{
        margin-top: 250px;
    }
/* ----------------------- */
.m-b{
    margin-bottom: 1em;
}
    .m-b-2{
        margin-bottom: 2em;
    }
    .m-b-4{
        margin-bottom: 4em;
    }
    .m-t-250{
        margin-top: 250;
    }
/* Texty */

.text_titles{
    color: #090127;
    font-size: 175%;
    font-weight: 500;

    
}


/* Other styles */
    