
/* clases */
.beneficios{
    // background:#0113b3;
    background: rgba(0,20,148,1);
    background: -moz-linear-gradient(left, rgba(0,20,148,1) 0%, rgba(28,4,205,0.88) 31%, rgba(20,95,245,0.79) 53%, rgba(120,126,247,0.68) 80%, rgba(122,202,255,0.6) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,20,148,1)), color-stop(31%, rgba(28,4,205,0.88)), color-stop(53%, rgba(20,95,245,0.79)), color-stop(80%, rgba(120,126,247,0.68)), color-stop(100%, rgba(122,202,255,0.6)));
    background: -webkit-linear-gradient(left, rgba(0,20,148,1) 0%, rgba(28,4,205,0.88) 31%, rgba(20,95,245,0.79) 53%, rgba(120,126,247,0.68) 80%, rgba(122,202,255,0.6) 100%);
    background: -o-linear-gradient(left, rgba(0,20,148,1) 0%, rgba(28,4,205,0.88) 31%, rgba(20,95,245,0.79) 53%, rgba(120,126,247,0.68) 80%, rgba(122,202,255,0.6) 100%);
    background: -ms-linear-gradient(left, rgba(0,20,148,1) 0%, rgba(28,4,205,0.88) 31%, rgba(20,95,245,0.79) 53%, rgba(120,126,247,0.68) 80%, rgba(122,202,255,0.6) 100%);
    background: linear-gradient(to right, rgba(0,20,148,1) 0%, rgba(28,4,205,0.88) 31%, rgba(20,95,245,0.79) 53%, rgba(120,126,247,0.68) 80%, rgba(122,202,255,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001494', endColorstr='#7acaff', GradientType=1 );
    // border-radius: 52% 48% 81% 19% / 61% 59% 41% 39%;
    // border-radius: 100%;
    border-radius:52% 48% 54% 46% / 54% 54% 46% 46% ; 
    border: inset #0261a0 5px;
    &:before{
        content: "";
        width: 200px;
        height: 200px;
        border:outset 20px #0261a0;
        border-radius: 100%;
        position: relative;
        right: 500px;
    }
    &:after{
        content: "";
        width: 200px;
        height: 200px;
        border:outset 20px #0261a0;
        border-radius: 100%;
        position: relative;
        left: 500px;
    }
    // &:after{
    //     content: "";
    //     width: 100%;
    //     border-top:inset 20px #0261a0;
    // }
}
.beneficio{
color: white;
}

/* .beneficios_container::before{
    content: "";
    width: 100%;
    border-top:outset 8px rgb(209, 255, 3);
}
.beneficios_container::after{
    content: "";
    width: 100%;
    border-top:outset 8px rgb(209, 255, 3);
} */

// .beneficios{
// /* border: 1px solid greenyellow; */
// }

.beneficios_container{
width: 80%;
}
.beneficios_item{
    width:20%;
    border:solid 8px red;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    & img{
        width: 90%;
    }
}

.beneficios_item{
    &:hover{
        width:20.5%;
        border-radius: 20%;
        border: 10px outset rgb(209, 255, 3);
        transition: 0.6s;
    }
}

.bg_1{
    background: rgba(0,250,150,1);
    background: -moz-linear-gradient(-45deg, rgba(0,250,150,1) 0%, rgba(5,237,78,1) 41%, rgba(34,255,0,1) 77%, rgba(123,255,0,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,250,150,1)), color-stop(41%, rgba(5,237,78,1)), color-stop(77%, rgba(34,255,0,1)), color-stop(100%, rgba(123,255,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,250,150,1) 0%, rgba(5,237,78,1) 41%, rgba(34,255,0,1) 77%, rgba(123,255,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,250,150,1) 0%, rgba(5,237,78,1) 41%, rgba(34,255,0,1) 77%, rgba(123,255,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,250,150,1) 0%, rgba(5,237,78,1) 41%, rgba(34,255,0,1) 77%, rgba(123,255,0,1) 100%);
    background: linear-gradient(135deg, rgba(0,250,150,1) 0%, rgba(5,237,78,1) 41%, rgba(34,255,0,1) 77%, rgba(123,255,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fa96', endColorstr='#7bff00', GradientType=1 );

    border: 10px inset rgb(9, 255, 0);
}

.bg_2{
    background: rgba(158,229,255,1);
    background: -moz-linear-gradient(-45deg, rgba(158,229,255,1) 0%, rgba(99,213,255,1) 9%, rgba(43,191,255,1) 19%, rgba(59,115,255,1) 46%, rgba(0,72,255,1) 69%, rgba(116,10,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(158,229,255,1)), color-stop(9%, rgba(99,213,255,1)), color-stop(19%, rgba(43,191,255,1)), color-stop(46%, rgba(59,115,255,1)), color-stop(69%, rgba(0,72,255,1)), color-stop(100%, rgba(116,10,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(158,229,255,1) 0%, rgba(99,213,255,1) 9%, rgba(43,191,255,1) 19%, rgba(59,115,255,1) 46%, rgba(0,72,255,1) 69%, rgba(116,10,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(158,229,255,1) 0%, rgba(99,213,255,1) 9%, rgba(43,191,255,1) 19%, rgba(59,115,255,1) 46%, rgba(0,72,255,1) 69%, rgba(116,10,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(158,229,255,1) 0%, rgba(99,213,255,1) 9%, rgba(43,191,255,1) 19%, rgba(59,115,255,1) 46%, rgba(0,72,255,1) 69%, rgba(116,10,255,1) 100%);
    background: linear-gradient(135deg, rgba(158,229,255,1) 0%, rgba(99,213,255,1) 9%, rgba(43,191,255,1) 19%, rgba(59,115,255,1) 46%, rgba(0,72,255,1) 69%, rgba(116,10,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ee5ff', endColorstr='#740aff', GradientType=1 );

    border: 10px inset rgb(106, 0, 228);
}

.bg_3{
    background: rgba(255,94,212,1);
    background: -moz-linear-gradient(-45deg, rgba(255,94,212,1) 0%, rgba(255,3,53,1) 58%, rgba(255,3,53,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,94,212,1)), color-stop(58%, rgba(255,3,53,1)), color-stop(100%, rgba(255,3,53,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,94,212,1) 0%, rgba(255,3,53,1) 58%, rgba(255,3,53,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,94,212,1) 0%, rgba(255,3,53,1) 58%, rgba(255,3,53,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,94,212,1) 0%, rgba(255,3,53,1) 58%, rgba(255,3,53,1) 100%);
    background: linear-gradient(135deg, rgba(255,94,212,1) 0%, rgba(255,3,53,1) 58%, rgba(255,3,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5ed4', endColorstr='#ff0335', GradientType=1 );

    border: 10px inset rgb(189, 0, 41);
}

