.header{
    background: #0e023b;
    max-height: 30px;
}
.header div{
    font-size: 80%;
    font-weight: 600;
    color: aliceblue;
}
/* .header::after{
    content: "+56 9 7712 4057";
    width: 14%;
    background: rgb(206, 14, 62);
    color: aliceblue;
    position: absolute;
    transform: translate(-10px, 40px);
    border: solid 3px #333333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

} */