// Aqui insertamos todos los mixins para creación de elementos básicos

@mixin btn($bg,$bg2) {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;
    color: $white;
    background: $bg;

    &:hover{
        background: $bg2;
        
    }

    // @media screen and (min-width: $val){
    //     background: $color2;
    // }
}