//Modal

$color_mod_text:#0e023b;

$color_mod_black: black;
$c:rgb(201, 29, 29);

.disp_none{
    display: none;
}

.disp_flex{
    display: flex;
}

.modal {
    
    position: fixed; 
    z-index: 1500; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: $color_mod_black; 
    background-color: rgba(34, 9, 63, 0.6);
    // background-color: mix(aqua,red)
}

/* Modal Content */
.modal-content {
position: relative;
justify-content:center;
align-items: center;
background-color: #fefefe;
margin: auto;
padding: 0;
/* border: 5px solid rgb(81, 255, 0); */
/* border-radius:1% 95% 1% 95% / 95% 5% 95% 5%; */
/* border-radius:1% 95% 1% 95% ; */
// border-radius:15% .5% 15% 1%;
border-radius: 5% 5% 5% 5%;
width: 90%;
min-height: 500px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 1s;
animation-name: animatetop;
animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {
position: relative;
z-index: 2000;
color:$color_mod_text;
float: right;
font-size: 28px;
font-weight: bold;

    &:hover,&:focus{
        color: $c;
        text-decoration: none;
        cursor: pointer;
    }

}

.modal-header {
/* padding: 2px 16px; */
width: 90%;
/* background-color: $color_mod_text; */
color:$color_mod_text;
}

.modal-body {
/* padding: 2px 16px; */
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.modal-body .modal_rigth{
margin: 0;
padding: 0;
width: 40%;
min-height: 500px;
background: #ff00cc;
background: -webkit-linear-gradient(to right, #333399, #ff00cc);  
background: linear-gradient(to right, #333399, #ff00cc); 
/* border-radius:39% 61% 100% 0% / 45% 53% 47% 55%  */
border-radius: 5% 0 0 5%;
box-shadow: 10px 0 8px 0 rgba(160, 17, 226, 0.4), 10px 20px 50px 0 rgba(178, 13, 255, 0.9);
}
.modal-body .modal_left{
margin: 0;
padding: 0;
width: 60%;
min-height: 500px;
}

.formulario{
    width: 80%;
    & .input_sets{
        width: 90%;
        & input[type="submit"]{
            margin-left: 50%;
            transform: translateX(-50%);
            border: solid 2px white;
            padding: 0.5rem 1rem;
            // border-radius: 156% 0%/156% 0%;
            border-radius: 20px;
            background: transparent;
            transition: 0.3s;
                    &:hover{
                    margin-left: 50%;
                    transform: translateX(-50%);
                    border: inset 3px rgb(188, 255, 3);
                    color: #bcff03;
                    box-shadow: 4px 4px 4px 2px rgba(188, 255, 3, 0.2);
                    // border-radius: 0% 156%/ 0% 156%;
                    border-radius: 20px;
                    font-weight: 900;
                    }
                }
    }
}
.modal-footer {

color:$color_mod_text;
}

// .input_sets{
//     & input[type="submit"]{
//          margin-left: 50%;
//          transform: translateX(-50%);
//          border: solid 1px white;
//          border-radius: 36% 0%/36% 0%;
//                  &:hover{
//                  margin-left: 50%;
//                  transform: translateX(-50%);
//                  border: solid 1px white;
//                  border-radius: 36% 0%/36% 0%; 
//                  }
//              }
//  }

.input_group{  
    margin-bottom: 10px;
    & input[type="text"], & [type="email"]{
        font-size: 14px;
        outline: none;
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: #ffffff 1px solid;
        width: 100%;
        &:active,
        &:focus{
            outline: none;
            background: transparent;
            border-bottom: #31023b 2px solid;
        }
    
    }
  
}

