.img_bg{
    background: #ff0037;
    background: -webkit-linear-gradient(to right, #a30124, #ff0037);
    background: linear-gradient(to right, #a30124, #ff0037);
}
/* Image */

.image {
    position: relative;
    display: inline-block;
    border: 0;
    outline: 0;
    border-radius: 10% 10% 0 0;
}


    .image img {
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        border: inset 8px #ff0037;
    }

    .image.fit {
        display: block;
        width: 100%;
        
    }
    .image.fit img{
        border: inset 10px #00ffaa;
    }

    .image.featured {
        display: block;
        width: 100%;
        margin: 0 0 4em 0;
    }

    .image.left {
        float: left;
        margin: 0 2em 2em 0;
    }

    .image.centered {
        display: block;
        margin: 0 0 2em 0;
    }

        .image.centered img {
            margin: 0 auto;
            width: auto;
        }